@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-thumbnail,
.profile-avatar:hover{
  outline:2px solid hsl(26, 100%, 55%);
}

.selected-thumbnail::after {
  position:absolute;
  inset:0;
  background-color: hsla(25, 100%, 93%,0.6);
}

.cart-basket {
  box-shadow:4px 4px 6px hsla(0,0%,0%,0.40),
             -4px -4px 6px hsla(0,0%,0%,0.40) ;
}

.navigation-btn {
  top:50%;
  transform:translateY(-50%);  
}

.close-btn .icon {
  fill : #69707D;

  transition : fill 200ms ease-out;
}

.close-btn:is(:hover , :focus) .icon {
  fill :hsl(26, 100%, 55%);
}

@media (width > 768px) {
  .cart-basket {
    left:unset;
    right:20px;
    transform:none;
  }
}

